<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Othello Hall</title>
    <script>window.userToken = "<%= assigns[:user_token] %>";</script>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div>
      <nav>
      <%= if @current_player != nil do %>
        <ul class="nav justify-content-end switch">
        <li class="lobby">
                              <%= link "Go To Lobby",
                                       to: page_path(@conn, :index),
                                       class: "btn btn-info btn-xs" %>
         </li>
          <li>
            <%= link "Switch Player",
                     to: page_path(@conn, :delete),
                     method: :delete, class: "btn btn-danger btn-xs" %>
          </li>
        </ul>
        <% end %>
      </nav>
    </div>
    <div class="container">
      <header>
        <div class="row">
          <div class="col-xs-12 text-center offset-1">
            <div class="letters">
              <span class="letter inverse">O</span>
              <span class="letter">T</span>
              <span class="letter">H</span>
              <span class="letter">E</span>
              <span class="letter inverse">L</span>
              <span class="letter">L</span>
              <span class="letter">O</span>
            </div>
          </div>
        </div>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
