<div class="row" >
  <div class="col-xs-8 col-xs-offset-2 text-center">
    <h4>New Game?</h4>
    <%= form_for @conn, game_path(@conn, :create), [as: :game], fn f -> %>
      <!-- <div class="form-group game-sizes">
      </div> -->
      <%= submit "Start Game", class: "btn btn-primary" %>
    <% end %>
  </div>


  <div class="root">
     
  </div>
</div>
