
<script>
  window.gameName = "<%= @game_name %>";
  window.playerName = '<%= @current_player.name %>'
</script>

<style>

/* Attribution for image: https://i.stack.imgur.com/jGlzr.png */
   body {
     background-image: url("<%= static_path(@conn, "/images/wood3.png") %>");
   }
 </style>

<body>
  <div id="startGame">

  </div>
  <div id="main_container">

  </div>
</body>
